{block content}

<main class="row" n:snippet="content">

    {include navigation from "../App/default.latte"}

    {include topNav from "default.latte"}

    <div class="root margin">
        
        <div class="container full-width">

            <span class="title">Maintenance</span>

        </div>
        
    </div>


</main>

{/block}