services:
	database.default: Nette\Database\Connection('mysql:host=192.168.50.254;dbname=monitoring_test', 'webtest', 'Hello9919*')
	- App\Core\RouterFactory::createRouter
	- Authenticator
	- App\Model\Accounts
	- App\Model\Config
	- App\Model\Email

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade