services:
	database.default: Nette\Database\Connection('sqlite:%appDir%/Database/database.db', 'root', '')
	- App\Core\RouterFactory::createRouter
	- Authenticator
	- App\Model\Accounts
	- App\Model\Config
	- App\Model\Email

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade