{block content}

<main class="row flex-wrap" n:snippet="content">

    {include navigation from "../App/default.latte"}

    <div class="root">
        
        profile

        

    </div>
    
</main>

{/block}
