{block login}

    {form loginForm, "class" => "ajax login-form"}
        {input username, "placeholder" => "E-mail"}
        {input password, "placeholder" => "Heslo"}
        {input submit, "value" => "Přihlásit se"}    
    {/form}


    {include footer from 'default.latte'}
    
{/block}