/*NAVIGATION*/

.app-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid var(--grey-lighter);
}

/*FOOTER*/
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 0.8rem;
}


/*LOGIN FORM*/
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 10px;
    padding: 20px;
    height: 250px;
    background-color: var(--white);
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}

/*NETTE FORMS MODAL*/

.netteFormsModal {
    box-sizing: border-box !important;
    border: 0px !important;
    box-shadow: var(--box-shadow) !important;
    border-radius: 5px !important;
    padding: 15px 50px 15px 50px !important;
    line-height: 1.5 !important;
    font-weight: 500;
}

.netteFormsModal button {
    all: unset;
    cursor: default;
    box-sizing: border-box;
    width: 100px;
    padding: 5px !important;
    font-size: 0.85rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 4px;
}

.netteFormsModal button:hover {
    opacity: 0.7;
}